.leaving_comment{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        h4{
            font-family: Poppins;
            font-weight: 500;
            font-size: 22px;
            color: #222;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding-bottom: 15px;
        }
        p{
                font-family: Montserrat;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.7;
                color: #666;
        }
        textarea{
            width: 100%;
            resize: none;
            height: 150px;
            border-style: none;
            outline-style: none;
            margin: 30px 0;
            border: 2px solid #d9d9d9;
            &:focus{
                border: 2px solid #d61c22;
            }
            padding-left: 20px;
            padding-top: 15px;
            border-radius: 10px;
            margin-top: 40px;
            margin-bottom: 10px;

            font-family: Montserrat;
            font-weight: 400;
            font-size: 14px;
            color: #666;
        }

        button{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
            height: 40px;
            border-radius: 10px;
            background-color: #222;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.1;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.5s;
            margin-top: 30px;
            font-family: Montserrat;
            &:hover{
                background-color: #d41b22;
            }
        }
        
        input{
            width: 250px;
            height: 50px;
            border-radius: 10px;
            border-style: none;
            outline-style: none;
            margin-bottom: 20px;
            border: 2px solid #d9d9d9;
            &:focus{
                border: 2px solid #d61c22;
            }
            padding-left: 20px;
            color: #666;
            &::placeholder{
                font-family: Montserrat;
                font-weight: 400;
                font-size: 14px;
                text-transform: capitalize;
            }
        }

        .inputs{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
    }
}