@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin space_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin space_around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}