.scrolling-active{
    background-color: rgba($color: white, $alpha: 0.90);
    // border-top: 4px solid #d41b22;
    // opacity: 0.5;
    height: 90px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    i{
        color: black;
    }
    button{
        border-color: black!important;
        &:hover{
            border-color: #d41b22!important;
        }
    }
    .navbar{
        li{
            a{
                color: black!important;
                &:hover{
                    color: #d41b22!important;
                }
            }
        }
    }
    
}

.dropdown-active{
    right: 0!important;
    visibility: visible!important;
    .dropdown-menu{
        right: 0!important;
    }
}
header{
    position: fixed;
    width: 100%;
    transition: 0.7s;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #d41b22;
    
   
    .dropdown{
        width: 100%;
        height: auto;
        position: absolute;
        visibility: hidden;
        top: -4px;
        .underlay{
            position: relative;
            opacity: 0.5;
            width: 100%;
            height: 100vh;
            background-color: black;
        }
        .dropdown-menu{
            position: absolute;
            width: 390px;
            height: 100vh;
            overflow: auto;
            background-color: white;
            top: 0;
            right: -390px;
            @include center;
            flex-direction: column;
            transition: 0.7s;
            padding-top: 300px;
            button{
                cursor: pointer;
            }

            h3{
                font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                color: #222;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin: 50px 0 30px 0;
            }
            .menu_gallery{
                width: 65%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 70px;
                a{
                    width: 32%;
                    height: 80px;
                    margin-bottom: 8px ;
                    position: relative;
                        
                        img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                // position: relative;
                        }
                        &::after{
                                content: "";
                                top: 0;
                                left: 0;
                                opacity: 0;
                                visibility: hidden;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: #ec1d25;
                                transition: 0.7s;
                        }

                        &:hover{
                            &::after{
                                transition: 0.1s;
                                visibility: visible;
                                opacity: 0.7;
                            }
                        }

                    }   
            }
            .close-icon{
                position: absolute;
                top: 35px;
                right: 30px;
            }
            i{
                width: 20px;
                height: 20px;
                font-size: 35px;
                transition: 0.7s;
                -webkit-text-stroke: 5px white;
    
                &:hover{
                    color: #d41b22;
                }
            }

            li{
                text-align: center;
                margin-bottom: 13px;

                &:nth-child(6){
                    margin-bottom: 33px;
                }
                a{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 14px;
                    color: #222;
                    line-height: 1.2;
                    text-transform: uppercase;
                    transition: 0.7s;
                    &:hover{
                        color:#d41b22;
                    }
                }
            }

            .reservation{
                a{
                    @include center;
                    width: 150px;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #222;
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1.1;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    transition: 0.5s;
                    &:hover{
                        background-color: #d41b22;
                    }

                }
            }
            
        }

    }

    .container{
        max-width: 1200px;
        width: 100%;
        height:120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition:0.7s;
        padding: 0 30px;

        .logo{
            transition:0.7s;
            // width: 100px;
            // @include space-around;
        }
        .navbar{
            transition:0.7s;
            @include space-around;
          
            .social{
                // width: 200px;
                padding-left: 20px;
                padding-right: 20px;
            }
            
            .menu-bar{
                width: 26px;
                height: 15px;
                border-top: 2px solid #fff;
                border-bottom: 2px solid #fff;
                cursor: pointer;
                transition: 0.7s;
                &:hover{
                    border-color: #d41b22;
                }
            }

           
            ul{
                @include center;
                display: flex;
                flex-wrap: wrap;
                li{
                    a{
                        font-family: Montserrat;
                        font-weight: 400;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #fff;
                        padding: 15px;
                        transition: 0.7s;
                        &:hover{
                            color: #d41b22;
                        }
                    }
                }
            }

            i{
                transition: 0.2s;
                &:hover{
                    color: #d41b22;
                }
            }
        }
    }
}

@media screen and(max-width:1024px){
    header{
        .navbar{
            .menu{
                width: 0!important;
                display: none;
            }
        }
    }

}


@media screen and(max-width:468px){
    header{
        .social{
            display: none;
        }
        .container{
            padding: 0 10px;
        }
        .dropdown{
            .dropdown-menu{
                width: 100%;
            }
        }
    }

}