* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  outline-style: none;
  border: none;
  background: none;
}

ul, ol {
  list-style: none;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

a[data-fancybox] img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox__backdrop::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  left: 50%;
  top: 50%;
  -webkit-transform: scale(11);
          transform: scale(11);
  opacity: 0.3;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fancybox__container {
  --fancybox-bg: #000;
  --fancybox-thumbs-width: 48px;
  --fancybox-thumbs-ratio: 1;
  --carousel-button-bg: rgb(91 78 76 / 74%);
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
  --carousel-button-svg-stroke-width: 2.5;
}

.fancybox__nav {
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
}

.fancybox__nav .carousel__button.is-prev {
  left: 20px;
}

.fancybox__nav .carousel__button.is-next {
  right: 20px;
}

.carousel__button.is-close {
  right: auto;
  top: 20px;
  left: 20px;
}

.fancybox__slide {
  padding: 8px 88px;
}

/* Thumbnails */
.fancybox__thumbs .carousel__slide {
  padding: 8px 8px 16px 8px;
}

.is-nav-selected::after {
  display: none;
}

.fancybox__thumb {
  border-radius: 6px;
  opacity: 0.4;
}

.fancybox__thumb:hover,
.is-nav-selected .fancybox__thumb {
  border-radius: 6px;
  opacity: 1;
}

.is-nav-selected .fancybox__thumb::after {
  display: none;
}

.scrolling-active {
  background-color: rgba(255, 255, 255, 0.9);
  height: 90px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scrolling-active i {
  color: black;
}

.scrolling-active button {
  border-color: black !important;
}

.scrolling-active button:hover {
  border-color: #d41b22 !important;
}

.scrolling-active .navbar li a {
  color: black !important;
}

.scrolling-active .navbar li a:hover {
  color: #d41b22 !important;
}

.dropdown-active {
  right: 0 !important;
  visibility: visible !important;
}

.dropdown-active .dropdown-menu {
  right: 0 !important;
}

header {
  position: fixed;
  width: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 4px solid #d41b22;
}

header .dropdown {
  width: 100%;
  height: auto;
  position: absolute;
  visibility: hidden;
  top: -4px;
}

header .dropdown .underlay {
  position: relative;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  background-color: black;
}

header .dropdown .dropdown-menu {
  position: absolute;
  width: 390px;
  height: 100vh;
  overflow: auto;
  background-color: white;
  top: 0;
  right: -390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding-top: 300px;
}

header .dropdown .dropdown-menu button {
  cursor: pointer;
}

header .dropdown .dropdown-menu h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 50px 0 30px 0;
}

header .dropdown .dropdown-menu .menu_gallery {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

header .dropdown .dropdown-menu .menu_gallery a {
  width: 32%;
  height: 80px;
  margin-bottom: 8px;
  position: relative;
}

header .dropdown .dropdown-menu .menu_gallery a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .dropdown .dropdown-menu .menu_gallery a::after {
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ec1d25;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header .dropdown .dropdown-menu .menu_gallery a:hover::after {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  visibility: visible;
  opacity: 0.7;
}

header .dropdown .dropdown-menu .close-icon {
  position: absolute;
  top: 35px;
  right: 30px;
}

header .dropdown .dropdown-menu i {
  width: 20px;
  height: 20px;
  font-size: 35px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-text-stroke: 5px white;
}

header .dropdown .dropdown-menu i:hover {
  color: #d41b22;
}

header .dropdown .dropdown-menu li {
  text-align: center;
  margin-bottom: 13px;
}

header .dropdown .dropdown-menu li:nth-child(6) {
  margin-bottom: 33px;
}

header .dropdown .dropdown-menu li a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #222;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header .dropdown .dropdown-menu li a:hover {
  color: #d41b22;
}

header .dropdown .dropdown-menu .reservation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #222;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .dropdown .dropdown-menu .reservation a:hover {
  background-color: #d41b22;
}

header .container {
  max-width: 1200px;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding: 0 30px;
}

header .container .logo {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .navbar {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .navbar .social {
  padding-left: 20px;
  padding-right: 20px;
}

header .container .navbar .menu-bar {
  width: 26px;
  height: 15px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header .container .navbar .menu-bar:hover {
  border-color: #d41b22;
}

header .container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .container .navbar ul li a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header .container .navbar ul li a:hover {
  color: #d41b22;
}

header .container .navbar i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .container .navbar i:hover {
  color: #d41b22;
}

@media screen and (max-width: 1024px) {
  header .navbar .menu {
    width: 0 !important;
    display: none;
  }
}

@media screen and (max-width: 468px) {
  header .social {
    display: none;
  }
  header .container {
    padding: 0 10px;
  }
  header .dropdown .dropdown-menu {
    width: 100%;
  }
}

#entrance {
  min-height: 545px;
  width: 100%;
  position: relative;
  background-image: url("/assets/images/Blog/entrance.webp");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#entrance .container h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px;
  text-align: center;
}

.our_story {
  width: 100%;
  background-image: url("/assets/images/Home_Page/Welcomingentrance/background.webp");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our_story .container {
  max-width: 930px;
  padding: 105px 30px 120px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our_story .container--content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our_story .container--content span {
  font-family: Courgette;
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
  text-align: center;
}

.our_story .container--content h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
}

.our_story .container--content p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  text-align: center;
  margin: 30px 0;
}

.our_story .container--content a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.our_story .container--content a:hover {
  color: #d61c22;
}

.our_story .container--content a i {
  padding-left: 9px;
  font-size: 12px;
}

.information {
  width: 100%;
  background-image: url("/assets/images/Home_Page/Welcomingentrance/background.webp");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information .main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information .main_container .container {
  max-width: 1200px;
  width: 100%;
  padding: 105px 30px 120px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information .main_container .container--content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information .main_container .container--content span {
  font-family: Courgette;
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
  text-align: center;
}

.information .main_container .container--content h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
}

.information .main_container .container--content p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  text-align: center;
  margin: 30px 0;
}

.information .main_container .container--content a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.information .main_container .container--content a:hover {
  color: #d61c22;
}

.information .main_container .container--content a i {
  padding-left: 9px;
  font-size: 12px;
}

.information .main_container .container--picture {
  width: 45%;
  max-width: 390px;
  border-radius: 10px;
  overflow: hidden;
}

.information .main_container .container--picture:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.information .main_container .container--picture figure {
  width: 100%;
  height: 100%;
}

.information .main_container .container--picture figure img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about_parallax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 225px;
  padding-bottom: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/assets/images/Home_Page/Comments/our vider.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  #entrance h1 {
    font-size: 40px !important;
  }
  .information .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information .container:first-child {
    padding-bottom: 0 !important;
  }
  .information .container:last-child {
    padding-top: 0 !important;
  }
  .information .container--content {
    width: 100% !important;
  }
  .information .container--picture {
    width: 100% !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 468px) {
  #entrance h1 {
    font-size: 40px !important;
  }
  .information .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information .container:first-child {
    padding-bottom: 0 !important;
  }
  .information .container:last-child {
    padding-top: 0 !important;
  }
  .information .container--content {
    width: 100% !important;
  }
  .information .container--content h2 {
    font-size: 35px !important;
  }
  .information .container--picture {
    width: 100% !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 225px;
  padding-bottom: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/assets/images/Blog/about_video.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container--intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-container--intro span {
  font-family: Courgette;
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
  text-align: center;
}

.video-container--intro h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px;
  text-align: center;
  padding-bottom: 60px;
}

.video-container--intro .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.video-container--intro .icon i {
  font-size: 18px;
}

.video-container--intro .icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: rgba(236, 29, 37, 0.5);
}

.video-container--intro .icon:hover i {
  color: #fff;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

footer .upper {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .upper .container {
  padding: 0 30px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .upper .container h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

footer .upper .container p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #999;
  line-height: 1.7;
}

footer .upper .container .footer_part {
  padding-top: 50px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .upper .container .footer_part i {
  color: #999;
}

footer .upper .container .footer_part .footer_contact {
  margin-bottom: 70px;
}

footer .upper .container .footer_part .footer_contact .contact_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

footer .upper .container .footer_part .footer_contact i {
  width: 20px;
  font-size: 16px;
  margin-right: 5px;
}

footer .upper .container .footer_part2 p {
  margin-bottom: 16px;
}

footer .upper .container .footer_part2 a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #ec1d25;
  line-height: 1.7;
}

footer .upper .container .footer_part2 span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #555;
}

footer .upper .container .footer_part2 i {
  margin-right: 5px;
}

footer .upper .container .footer_part2 .footer_twitter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .upper .container .footer_part2 .footer_twitter1 {
  margin-bottom: 35px;
}

footer .upper .container .footer_part3 .footer_gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .upper .container .footer_part3 .footer_gallery a {
  width: 23%;
  height: 80px;
  margin-bottom: 8px;
  position: relative;
}

footer .upper .container .footer_part3 .footer_gallery a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .upper .container .footer_part3 .footer_gallery a::after {
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ec1d25;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer .upper .container .footer_part3 .footer_gallery a:hover::after {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  visibility: visible;
  opacity: 0.7;
}

footer .lower {
  width: 100%;
  height: 70px;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .lower .container {
  padding: 0 30px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .lower .container .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .lower .container .social ul li a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding-right: 25px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer .lower .container .social ul li a:hover {
  color: #d41b22;
}

footer .lower .container .copyright span {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.7;
  color: #999;
  padding-right: 5px;
}

footer .lower .container .copyright a {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.7;
  color: #ccc;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer .lower .container .copyright a:hover {
  color: #d41b22;
}

.section_email {
  width: 100%;
  background-image: url("/assets/images/Home_Page/Welcomingentrance/background.webp");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_email .container {
  max-width: 1200px;
  width: 100%;
  padding: 50px 30px 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_email .container p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section_email .container input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  outline-style: none;
  margin: 30px 0;
  border: 2px solid #d9d9d9;
  padding-left: 20px;
  color: #666;
}

.section_email .container input:focus {
  border: 2px solid #d61c22;
}

.section_email .container input::-webkit-input-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}

.section_email .container input:-ms-input-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}

.section_email .container input::-ms-input-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}

.section_email .container input::placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}

.section_email .container .input {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 20px;
}

.section_email .container .input i {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #666;
}

.section_email .container button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #222;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section_email .container button:hover {
  background-color: #d41b22;
}

@media screen and (max-width: 768px) {
  footer .upper .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .upper .container .footer_part {
    width: 48% !important;
  }
  .section_email .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 468px) {
  footer .upper .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .upper .container .footer_part {
    width: 100% !important;
  }
  footer .lower {
    height: 90px;
  }
  footer .lower .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
}

.clock {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: solid 5px #d41b22;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

.clock .hours {
  position: absolute;
  width: 50px;
  height: 5px;
  top: 17.5px;
  left: -5px;
  -webkit-animation: you-spin-me-round-round-baby-right-round 5s linear 0s infinite;
}

.clock .hours:before {
  content: "";
  height: 5px;
  width: 16px;
  position: absolute;
  right: 11px;
  background: #d41b22;
  border-radius: 5px;
}

.clock .minutes {
  position: absolute;
  width: 50px;
  height: 5px;
  top: 17.5px;
  left: -5px;
  -webkit-animation: you-spin-me-round-round-baby-right-round 0.9s linear 0s infinite;
}

.clock .minutes:before {
  content: "";
  height: 5px;
  width: 22px;
  position: absolute;
  right: 5px;
  background: #d41b22;
  border-radius: 5px;
}

@-webkit-keyframes you-spin-me-round-round-baby-right-round {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.site-content {
  display: none;
}
/*# sourceMappingURL=about.css.map */