@import "./style/all";

img{
    max-width: 100%;
    height: auto;
}
.filterable_gallery{
    .container{
        padding: 118px 0px 100px 0px;
        @include center;
        flex-direction: column;
        text-align: center;
        .filter-item{
            max-width: 1200px;
            margin-left:30px;
        }
    }
    
    h2{
        text-transform: uppercase;
        font-weight: normal;
        font-size: 120%;
        margin-bottom: 20px;
        color: #fff;
    }
    
    .filter-menu{
        margin-bottom: 60px;
    }
    .filter-menu li{
        display: inline-block;
        padding: 2px 11px;
        margin: 5px 15px;
        // background-color: #111;
        color: #333;
        cursor: pointer;
        font-family: Poppins;
        font-weight: 500;
        font-size: 15px;
        border-radius: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 1s;
    }
    .filter-menu li:hover,
    .filter-menu li.current{
        background: #111;
        color: #fff;
    }
    
    
    .filter-item{
    }
    .filter-item li{
        width: 30%;
        height: 350px;
        border-radius: 10px;
        overflow: hidden;
        margin:30px 15px;
        
        float: left;
        position: relative;
        a{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 60px;
            height: 60px;
            background-color: #fff;
            border-radius: 50%;
            transition: 0.7s;
            opacity: 0;
            visibility: hidden;
            i{
                font-size: 18px;
                color: #222;
                transition: 0.5s;
            }
            @include center;
            z-index: 1;
            img{
                display: none;
            }
        }
        &::after{
            overflow: hidden;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 10px;
            background-color: #ec1d25;
            transition: 0.7s;
            opacity: 0;
            visibility: hidden;
        }

        &:hover{
            &::after{
                transition: 0.2s;
                visibility: visible;
                opacity: 0.7;
            }
        }

        &:hover{
            a{
                opacity: 1;
                visibility: visible;
                &:hover{
                    i{
                        color: #ec1d25;
                    }
                }
            }
            img{
                transform: scale(1.1);
            }
        }
       
    }
    
    .filter-item li.active{
        width: 30%;
        margin:30px 15px;
        transition: all 1s ease;
    }
    
    .filter-item li.delete{
        width: 0%;
        margin: 30px 0;
        transition: all 1s ease;
    }
    
    .filter-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        position: relative;
        transition: 1s;
        
    }
    
    @media screen and (max-width: 1000px){
        .filter-item li.active,
        .filter-item li{
            width: 45%;
            
        }
    }
   
    @media screen and (max-width: 630px){
        .filter-item li.active,
        .filter-item li{
            width: 93%;
            // margin-left: 10px!important;
        }
        .filter-item{
            margin-left: 0px!important;
        }
        .filter-menu{
            display: flex;
            flex-direction: column;
        }
    }
    
    

}

.loader{
    width: 100vw;
    height: 100vh;
}
.clock {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	border: solid 5px #d41b22;
	left: 50%;
	margin-left: -25px;
	top: 50%;
	margin-top: -25px;

	.hours {
		position: absolute;
		width: 50px;
		height: 5px;
		// background: red;
		top: 17.5px;
        left: -5px;
		-webkit-animation: you-spin-me-round-round-baby-right-round 5s linear 0s infinite;
		&:before {
			content: "";
			height: 5px;
			width: 16px;
			position: absolute;
			right: 11px;
			background: #d41b22;
			border-radius: 5px;
		}
	}
	.minutes {
		position: absolute;
		width: 50px;
		height: 5px;
		// background: blue;
		top: 17.5px;
        left:-5px;
		-webkit-animation: you-spin-me-round-round-baby-right-round 0.9s linear 0s infinite;

		&:before {
			content: "";
			height: 5px;
			width: 22px;
			position: absolute;
			right: 5px;
			background: #d41b22;
			border-radius: 5px;
		}

	}
}
@-webkit-keyframes you-spin-me-round-round-baby-right-round {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

.site-content{
    display: none;
}

