.blog-section{
    width: 100%;
    @include center;
    .container{
        // max-width: 1200px;
        width: 100%;
        @include space-around;
        flex-direction: column;
        padding-top: 115px;
        &--cards{
            max-width: 1200px;
            width: 100%;
            @include space-between;
            padding: 0 30px;
            margin-top: 40px;
            margin-bottom: 123px;
            flex-wrap: wrap;
            &--card{
                margin-top: 20px;
                width: 30%;
                height: 100%;
                .pic{
                    width: 100%;
                    height: 220px;
                    overflow: hidden;
                    border-radius: 10px;
                    figure{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        &:hover{
                            img{
                                transform: scale(1.1);
                            }
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            transition: 0.5s;
                            object-fit: cover;
                        }
                    }
                }
           
                h3{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 22px;
                    color: #333;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    margin: 35px 0 13px 0;
                    transition: 0.5s;
                    &:hover{
                        color: #d61c22;
                    }
                }
                p{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 1.7;
                    color: #666;
                    margin-bottom: 10px;
                    height: 45px;
                }
                a{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 12px;
                    color: #222;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    transition: 0.5s;
                    &:hover{
                        color: #d61c22;
                    }
                    i{
                        padding-left: 9px;
                        font-size: 12px;
                    }
                }
                
            }
        }

        &-intro{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span{
                font-family: Courgette;
                font-size: 30px;
                line-height: 1.2;
                color: #d61c22;
                text-align: center;
             }
             h2{
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 50px;
                 line-height: 1.2;
                 color: #222;
                 text-transform: uppercase;
                 letter-spacing: 6px;
                 word-spacing: 6px;
                 text-align: center;
            }
        }
    }
}

@media screen and(max-width:768px){
    .blog-section{
        .container{
            &--cards{
                
                justify-content: center!important;
                flex-direction: column;
                margin-bottom: 70px;
                &--card{
                    width: 100%;
                    margin: 30px 0;
                    .pic{
                        height: 330px;

                    }
                }
            }
        }
    }
}

@media screen and(max-width:768px){
    .blog-section{
        .container{
            &--cards{
                padding-right: 10px;
                padding-left: 10px;
                
                &--card{
                    width: 100%;
                    margin: 30px 0;
                    .pic{
                        height: 230px;

                    }
                }
            }
        }
    }
}